# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/autom4te.cache
/minimal
/config.log
/config.status
/Makefile
/.project
/.cproject
/.autotools
/.deps
/minimal-0.01.tar.gz
